@model eshop.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<div class="container">
    <div class="row">
        <div id="portfolio-information" class="padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="~/Images/products/@(Model.Id).jpg" class="img-responsive" style="width:100%;" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="project-name overflow">
                            <h2 class="bold">@Html.DisplayFor(model => model.Name)</h2>
                            <ul class="nav navbar-nav navbar-default">
                                <li><a href="#"><i class="fa fa-tag"></i>@Html.DisplayFor(model => model.ShortDescription)</a></li>
                            </ul>
                        </div>
                        <div class="project-info overflow">
                            <h3>Product Info</h3>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="price">
                            <span class="text">Price:</span>
                            <span class="price-new">@Html.DisplayFor(model => model.Price)</span>
                        </div>
                        <div class="live-preview">
                            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
